<div class="groups container">
  <header class="navbar">
    <div></div>
    <h1>Groups</h1>
    <div></div>
  </header>

  <div class="card">
    <div class="row">
      <span>Total</span>
      <b><%= number_to_currency current_user.total_expenses %></b>
    </div>
  </div>

  <p class="notice"><%= notice %></p>

  <main>  
    <div class="list">
      <% @groups.each do |group| %>
        <%= link_to group_expenses_path(group) do %>
          <%= render group %>
        <% end %>
      <% end %>
    </div>
  </main>
  <div class="card green list">
    <%= link_to "New group", new_group_path, class: "btn btn-border" %>
  </div>
</div>
